################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dotnet.Lists/v16
/src/Dotnet.Lists.Console/bin/Debug/netcoreapp3.0
/src/Dotnet.Lists.Console/obj
